In [ ]:
Q1.python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [ ]:
#First install the selenium library
! pip install selenium

In [ ]:
#now lets connect to the web driver
driver = webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
#finding elements for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [ ]:
#now we will see in the window opened or not.lets check it by specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-analyst-data-analyst-jobs?k=data%20analyst%2C%20data%20analyst"

In [ ]:
driver.get(url)

In [ ]:
#Now lets first creat 4 empty lists.
In these lists the data will be stored while scraping. We have created 4 empty lists for 4 features which we have to exrat
1.job_titles2.locations_list3.company_names4.experience_list

In [ ]:
job_titles=[]
locations_list=[]
company_names=[]
experience_list=[]

First we will extract all the tags where we have the job titles.

In [ ]:
#so lets extract all the tags having the job_titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

Now we have all the tags in which there are the job titles.
Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
#Now lets text of the job titles is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the tags
job_titles=[]
for i in titles_tags:
    job_title=i.text
    job_titles.append(job_title)
job_titles[0:10]

Now we will extract all the html tags where we have the location of the job data.

In [ ]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

In [ ]:
locations_list=[]
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

Now we will extract the html tags where we have the company names.

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
company_names=[]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

Now we will extract all the html tags where we have the experience required data.

In [ ]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

Now we have all the tags in which there is the experience required data.Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
experience_list=[]
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

So,now we have extracted the data required from the webpage and stored them in the 4 lists mentioned above.Now before creating a dataframe from these lists.Lets first check the length of each of the list.Beacause if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [ ]:
print(len(job_titles),len(locations_list),len(company_names),len(experience_list))

In [ ]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['location']=locations_list
jobs['company']=company_names
jobs['experience_required']=experience_list

In [ ]:
jobs

Q2.python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [ ]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [ ]:
#now lets connect to the web driver
driver = webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
#finding elements for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [ ]:
#now we will see in the window opened or not.lets check it by specifying the url of the webpage to be scraped
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [ ]:
driver.get(url)

#Now lets first creat 4 empty lists.
In these lists the data will be stored while scraping. We have created 4 empty lists for 4 features which we have to exrat
1.job_titles2.locations_list3.company_names

In [ ]:
job_titles=[]
locations_list=[]
company_names=[]

In [ ]:
#so lets extract all the tags having the job_titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

Now we have all the tags in which there are the job titles. Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
#Now lets text of the job titles is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the tags
job_titles=[]
for i in titles_tags:
    job_title=i.text
    job_titles.append(job_title)
job_titles[0:10]

Now we will extract all the html tags where we have the location of the job data.

In [ ]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

In [ ]:
locations_list=[]
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

Now we will extract the html tags where we have the company names.

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
company_names=[]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

So,now we have extracted the data required from the webpage and stored them in the 3 lists mentioned above.Now before creating a dataframe from these lists.Lets first check the length of each of the list.Beacause if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [ ]:
print(len(job_titles),len(locations_list),len(company_names))

In [ ]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['location']=locations_list
jobs['company']=company_names

In [ ]:
jobs

Q3.You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [ ]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [ ]:
#now lets connect to the web driver
driver = webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [ ]:
driver.close()

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
#finding elements for job search bar
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [ ]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

#Now lets first creat 4 empty lists.
In these lists the data will be stored while scraping.
We have created 4 empty lists for 4 features which we have to exrat
1.job_titles2.locations_list3.company_names4.experience_list

In [ ]:
job_titles=[]
locations_list=[]
company_names=[]
experience_list=[]

In [ ]:
#so lets extract all the tags having the job_titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

Now we have all the tags in which there are the job titles. Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
#Now lets text of the job titles is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the tags
job_titles=[]
for i in titles_tags:
    job_title=i.text
    job_titles.append(job_title)
job_titles[0:10]

Now we will extract all the html tags where we have the location of the job data.

In [ ]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[0:10]

In [ ]:
locations_list=[]
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

Now we will extract the html tags where we have the company names

In [ ]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

In [ ]:
company_names=[]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

Now we will extract all the html tags where we have the experience required data.

In [ ]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

Now we have all the tags in which there is the experience required data.Now we will extract the text from these tags one by one by looping over these tags

In [ ]:
experience_list=[]
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

So,now we have extracted the data required from the webpage and stored them in the 3 lists mentioned above.Now before creating a dataframe from these lists.Lets first check the length of each of the list.Beacause if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [ ]:
print(len(job_titles),len(locations_list),len(company_names),len(experience_list))

In [ ]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['location']=locations_list
jobs['company']=company_names
jobs['experience']=experience_list

In [ ]:
jobs

Q4.Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [ ]:
#import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [ ]:
#now lets connect to the web driver
driver1 = webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [ ]:
#driver1.close()

In [ ]:
driver1.get("https://www.flipkart.com/")

In [ ]:
ch1=driver1.find_element_by_xpath("//input[@title='Search for products, brands and more']")
ch1.send_keys('sunglasses')

In [ ]:
button=driver1.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [ ]:
button.click()

In [ ]:
srh_nam=driver1.find_elements_by_xpath("//div[@class='_2WkVRV']")
srh_des=driver1.find_elements_by_xpath("//a[@class='IRpwTa']")
srh_price=driver1.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
print(len(srh_nam),len(srh_des),len(srh_price))

In [ ]:
Brand_nam=[]
Product_Desc=[]
Price=[]

In [ ]:
Brand_nam.clear()
Product_Desc.clear()
Price.clear()

In [ ]:
for rh in srh_nam:
    rh1=rh.text
    Brand_nam.append(rh1)
for de in srh_des:
    de1=de.text
    Product_Desc.append(de1)
for pr in srh_price:
    pr1=pr.text
    Price.append(pr1)

In [ ]:
button1=driver1.find_element_by_xpath("//a[@class='_1LKTO3']")

In [ ]:
button1.click()

In [ ]:
Brand_nam1=[]
Product_desc1=[]
Price1=[]

In [ ]:
Brand_nam1.clear()
Product_desc1.clear()
Price1.clear()

In [ ]:
srh_nam1=driver1.find_elements_by_xpath("//div[@class='_2WKVRV']")
srh_des1=driver1.find_elements_by_xpath("//a[@class='IRpwTa']")
srh_price1=driver1.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
print(len('srh_nam1'),len('srh_des1'),len('srh_price1'))

In [ ]:
for rh1 in srh_nam1:
    rh2=rh1.text
    Brand_nam1.append(rh2)
for de1 in srh_des1:
    de2=de1.text
    Product_Desc1.append(de2)
for pr1 in srh_price1:
    pr2=pr1.text
    Price1.append(pr2)

In [ ]:
button1.click

In [ ]:
Brand_nam2=[]
Product_Desc2=[]
Price2=[]

In [ ]:
srh_nam2=driver1.find_elements_by_xpath("//div[@class='_2WKVRV']")
srh_des2=driver1.find_elements_by_xpath("//a[@class='IRpwTa']")
srh_price2=driver1.find_elements_by_xpath("//div[@class='_30jeq3']")

In [ ]:
print(len('srh_nam2'),len('srh_des2'),len('srh_price2'))

In [ ]:
for rh2 in srh_nam2:
    rh3=rh2.text
    Brand_nam2.append(rh3)
    
for de2 in srh_des2:
    de3=de2.text
    Product_Desc2.append(de3)
    
for pr2 in srh_price2:
    pr3=pr2.text
    Price2.append(pr3)

In [ ]:
fbrd=[]
fpdes=[]
fpric=[]

In [ ]:
fbrd=Brand_nam+Brand_nam1+Brand_nam2
fpdes=Product_Desc+Product_Desc1+Product_Desc2
fpric=Price+Price1+Price2

In [ ]:
df1=pd.DataFrame(("Brand":fbrd,"Product_Des":fpdes,"Price":fpric))

In [ ]:
df1.head(100)