In [17]:
#Importing Required Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver

#Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException,ElementNotInteractableException,NoSuchElementException 

#Importing requests
import requests

#importing regex
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [18]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")
#Loading url to the chrome driver
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

<ipython-input-18-5aeb4211dafa>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [19]:
driver.maximize_window()

In [20]:
#creating list for rank, uploader)name, video name, no of views, date of upload
rank = []
video_names = []
artist = []
views = []
upload_dates = []

In [21]:
#getting ranks of the videos
try:
    rank_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[:30]
    rank_obj
    for i in rank_obj:
        rank.append(i.text.replace('.',''))
except NoSuchElementException:
    rank.append('-')
print(rank)
print("++++++++++++++++++++++++++++++++++")
#getting names of the videos
try:
    videoname_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[:30]
    videoname_obj
    for i in videoname_obj:
        video_names.append(i.text)
except NoSuchElementException:
    video_names.append('-')
print(video_names)
print("++++++++++++++++++++++++++++++++++")
#getting names of artist
try:
    uploader_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[:30]
    for i in uploader_obj:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
print(artist)
print("++++++++++++++++++++++++++++++++++++++++")
#getting numbers of views of the videos
try:
    view_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[:30]
    view_obj
    for i in view_obj:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')
print(views)
print("++++++++++++++++++++++++++++++++++++++")
#getting upload date
try:
    date_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[:30]
    date_obj
    for i in date_obj:
        upload_dates.append(i.text)
except NoSuchElementException:
    upload_dates.append('-')
print(upload_dates)
print("+++++++++++++++++++++++++++++++++++++++++")

<ipython-input-21-5c592bf0f1c9>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rank_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[:30]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']
++++++++++++++++++++++++++++++++++

<ipython-input-21-5c592bf0f1c9>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  videoname_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[:30]

['"Baby Shark Dance"[3]', '"Despacito"[6]', '"Johny Johny Yes Papa"[12]', '"Shape of You"[13]', '"See You Again"[15]', '"Bath Song"[20]', '"Learning Colors – Colorful Eggs on a Farm"[21]', '"Masha and the Bear – Recipe for Disaster"[22]', '"Uptown Funk"[23]', '"Phonics Song with Two Words"[24]', '"Gangnam Style"[25]', '"Dame Tu Cosita"[30]', '"Sugar"[31]', '"Sorry"[32]', '"Roar"[33]', '"Wheels on the Bus"[34]', '"Counting Stars"[35]', '"Thinking Out Loud"[36]', '"Girls Like You"[37]', '"Faded"[38]', '"Dark Horse"[39]', '"Axel F"[40]', '"Let Her Go"[41]', '"Bailando"[42]', '"Lean On"[43]', '"Shake It Off"[44]', '"Baa Baa Black Sheep"[45]', '"Perfect"[46]', '"Waka Waka (This Time for Africa)"[47]', '"Mi Gente"[48]']
++++++++++++++++++++++++++++++++++

<ipython-input-21-5c592bf0f1c9>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  uploader_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[:30]

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon – Nursery Rhymes', 'Miroshka TV', 'Get Movies', 'Mark Ronson', 'ChuChu TV', 'Psy', 'El Chombo', 'Maroon 5', 'Justin Bieber', 'Katy Perry', 'Cocomelon – Nursery Rhymes', 'OneRepublic', 'Ed Sheeran', 'Maroon 5', 'Alan Walker', 'Katy Perry', 'Crazy Frog', 'Passenger', 'Enrique Iglesias', 'Major Lazer', 'Taylor Swift', 'Cocomelon – Nursery Rhymes', 'Ed Sheeran', 'Shakira', 'J Balvin']
++++++++++++++++++++++++++++++++++++++++

<ipython-input-21-5c592bf0f1c9>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  view_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[:30]

['10.00', '7.70', '6.10', '5.58', '5.38', '4.86', '4.55', '4.48', '4.42', '4.41', '4.31', '3.80', '3.62', '3.50', '3.50', '3.50', '3.48', '3.39', '3.21', '3.21', '3.21', '3.17', '3.15', '3.15', '3.15', '3.13', '3.07', '3.06', '3.03', '3.03']
++++++++++++++++++++++++++++++++++++++

<ipython-input-21-5c592bf0f1c9>:42: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  date_obj = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[:30]

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'May 2, 2018', 'February 27, 2018', 'January 31, 2012', 'November 19, 2014', 'March 6, 2014', 'July 15, 2012', 'April 5, 2018', 'January 14, 2015', 'October 22, 2015', 'September 5, 2013', 'May 24, 2018', 'May 31, 2013', 'October 7, 2014', 'May 31, 2018', 'December 3, 2015', 'February 20, 2014', 'June 16, 2009', 'July 25, 2012', 'April 11, 2014', 'March 22, 2015', 'August 18, 2014', 'June 25, 2018', 'November 9, 2017', 'June 4, 2010', 'June 29, 2017']
+++++++++++++++++++++++++++++++++++++++++

In [22]:
print(len(views),len(rank),len(video_names),len(artist),len(upload_dates))

30 30 30 30 30

In [23]:
#Since the length are same,we can creat dataframe
WIKI_VIEWS=pd.DataFrame({})
WIKI_VIEWS['RANK']=rank
WIKI_VIEWS['VIDEOS_NAME']=video_names
WIKI_VIEWS['ARTIST']=artist
WIKI_VIEWS['VIEWS']=views
WIKI_VIEWS['UPLOAD_DATE']=upload_dates
WIKI_VIEWS.reset_index(drop=True,inplace=True)
WIKI_VIEWS.index+=1
WIKI_VIEWS

,RANK,VIDEOS_NAME,ARTIST,VIEWS,UPLOAD_DATE
1,1,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.00,"June 17, 2016"
2,2,"""Despacito""[6]",Luis Fonsi,7.70,"January 12, 2017"
3,3,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.10,"October 8, 2016"
4,4,"""Shape of You""[13]",Ed Sheeran,5.58,"January 30, 2017"
5,5,"""See You Again""[15]",Wiz Khalifa,5.38,"April 6, 2015"
6,6,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,4.86,"May 2, 2018"
7,7,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.55,"February 27, 2018"
8,8,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,4.48,"January 31, 2012"
9,9,"""Uptown Funk""[23]",Mark Ronson,4.42,"November 19, 2014"
10,10,"""Phonics Song with Two Words""[24]",ChuChu TV,4.41,"March 6, 2014"
11,11,"""Gangnam Style""[25]",Psy,4.31,"July 15, 2012"
12,12,"""Dame Tu Cosita""[30]",El Chombo,3.80,"April 5, 2018"
13,13,"""Sugar""[31]",Maroon 5,3.62,"January 14, 2015"
14,14,"""Sorry""[32]",Justin Bieber,3.50,"October 22, 2015"
15,15,"""Roar""[33]",Katy Perry,3.50,"September 5, 2013"
16,16,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,3.50,"May 24, 2018"
17,17,"""Counting Stars""[35]",OneRepublic,3.48,"May 31, 2013"
18,18,"""Thinking Out Loud""[36]",Ed Sheeran,3.39,"October 7, 2014"
19,19,"""Girls Like You""[37]",Maroon 5,3.21,"May 31, 2018"
20,20,"""Faded""[38]",Alan Walker,3.21,"December 3, 2015"
21,21,"""Dark Horse""[39]",Katy Perry,3.21,"February 20, 2014"
22,22,"""Axel F""[40]",Crazy Frog,3.17,"June 16, 2009"
23,23,"""Let Her Go""[41]",Passenger,3.15,"July 25, 2012"
24,24,"""Bailando""[42]",Enrique Iglesias,3.15,"April 11, 2014"
25,25,"""Lean On""[43]",Major Lazer,3.15,"March 22, 2015"
26,26,"""Shake It Off""[44]",Taylor Swift,3.13,"August 18, 2014"
27,27,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.07,"June 25, 2018"
28,28,"""Perfect""[46]",Ed Sheeran,3.06,"November 9, 2017"
29,29,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.03,"June 4, 2010"
30,30,"""Mi Gente""[48]",J Balvin,3.03,"June 29, 2017"

Q2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [105]:
#Activating the Chrome brouser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-105-9c4a422d5be7>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [106]:
driver.get(' https://www.bcci.tv/')

In [112]:
international=driver.find_element_by_xpath('//a[@class="nav-link active"]')
driver.get(international.get_attribute())

<ipython-input-112-81968df99313>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  international=driver.find_element_by_xpath('//a[@class="nav-link active"]')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@class="nav-link active"]"}
  (Session info: chrome=97.0.4692.71)
Stacktrace:
Backtrace:
	Ordinal0 [0x006F6903+2517251]
	Ordinal0 [0x0068F8E1+2095329]
	Ordinal0 [0x00592848+1058888]
	Ordinal0 [0x005BD448+1233992]
	Ordinal0 [0x005BD63B+1234491]
	Ordinal0 [0x005E7812+1406994]
	Ordinal0 [0x005D650A+1336586]
	Ordinal0 [0x005E5BBF+1399743]
	Ordinal0 [0x005D639B+1336219]
	Ordinal0 [0x005B27A7+1189799]
	Ordinal0 [0x005B3609+1193481]
	GetHandleVerifier [0x00885904+1577972]
	GetHandleVerifier [0x00930B97+2279047]
	GetHandleVerifier [0x00786D09+534521]
	GetHandleVerifier [0x00785DB9+530601]
	Ordinal0 [0x00694FF9+2117625]
	Ordinal0 [0x006998A8+2136232]
	Ordinal0 [0x006999E2+2136546]
	Ordinal0 [0x006A3541+2176321]
	BaseThreadInitThunk [0x75C3FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77D77A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77D77A6E+238]

In [102]:
#Creating empty lists for storing the scrapped data
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping the data having the match name
name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in name:
    Match.append(i.text)
    
#Scrapping the data having the series name
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
for i in series:
    Series.append(i.text)
    
#Scrapping the data having the place of match
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    
#Scrapping the data having the match date
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/span")  #Only date
month=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/div/span[1]")  #Month
for i in range(len(date)):
    Date.append(date[i].text + month[i].text)  #Appending date and month texts together

#Scrapping the data having match time
time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]")
for i in time:
    Time.append(i.text)

<ipython-input-102-5df13e2d197e>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
<ipython-input-102-5df13e2d197e>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
<ipython-input-102-5df13e2d197e>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
<ipython-input-102-5df13e2d197e>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/span")  #Only date
<ipython-input-102-5df13e2d197e>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  month=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/div/div/span[1]")  #Month
<ipython-input-102-5df13e2d197e>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  time=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/div/span[2]")

In [103]:
#Creating a Dataframe for the scrapped data
fixtures=pd.DataFrame({})
fixtures['Match name']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [98]:
#Closing the driver
driver.close()

Q3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [113]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-113-815a4f904631>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [114]:
#Getting the website to driver
driver.get(' https://www.guru99.com/')
#When we run this line, automatically the webpage will be opened

In [115]:
#Clicking on the selenium tutorial page
driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()
#Clicking on the selenium exception tutorial page
driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

<ipython-input-115-d78667b46684>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//div[@class='srch']/span[8]/a").click()
<ipython-input-115-d78667b46684>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").click()

In [116]:
#Creating the empty lists to store the scraped data
Name=[]
Description=[]

#Scrapping the data having exception names
name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
    
#Scrapping the data having the description details  
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in desc:
    Description.append(i.text)
    
#Checking the length of the data scrapped
print(len(Name),len(Description))

<ipython-input-116-279cecb39857>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
<ipython-input-116-279cecb39857>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")

41 41

In [118]:
#Creating a dataframe for the scrapped data
guru99=pd.DataFrame({})
guru99['Exception Name']=Name[1:]
guru99['Description']=Description[1:]
guru99
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [89]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-89-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [90]:
# Opening the statisticstimes.com
url = "http://statisticstimes.com/"
driver.get(url)

In [91]:
#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 

#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')

#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')


#scraping GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           #handling no such element exception
    GSDP_20.append('No details available')   
    
#scraping GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        #handling no such element exception
    GSDP_19.append('No details available')

#scraping share (18-19)
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          #handling no such element exception
    share.append('No details available')

#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:            #handling no such element exception
    GDP_billion.append('No details available')


#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

<ipython-input-91-fd7100f9f667>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
<ipython-input-91-fd7100f9f667>:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")
<ipython-input-91-fd7100f9f667>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
<ipython-input-91-fd7100f9f667>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
<ipython-input-91-fd7100f9f667>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
<ipython-input-91-fd7100f9f667>:47: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
<ipython-input-91-fd7100f9f667>:56: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
<ipython-input-91-fd7100f9f667>:65: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [72]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-72-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [73]:
driver.get('https://github.com/')

In [75]:
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException as e:

SyntaxError: unexpected EOF while parsing (<ipython-input-75-d9436dc9690a>, line 5)

In [76]:
#Creating empty lists for storing the scrapped data
rep_title=[]
rep_desc=[]
Count=[]
Lang=[]

#Scrapping the data having the repository title
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    rep_title.append(i.text)
    
#Scrapping the data having the repository description
desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in desc:
    rep_desc.append(i.text)
    
#Scrapping the data having the contributors count
count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in count:
    Count.append(i.text)
    
#Scrapping the data having the language used 
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None:
        Lang.append('Not Available')
    else:
        Lang.append(i.text)

<ipython-input-76-f6ff08ceb434>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
<ipython-input-76-f6ff08ceb434>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
<ipython-input-76-f6ff08ceb434>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  count=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
<ipython-input-76-f6ff08ceb434>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")

In [77]:
print(len(rep_title),len(rep_desc),len(Count),len(Lang))

0 0 0 0

In [78]:
#Creating a dataframe for the scrapped data
github=pd.DataFrame({})
github['Repository title']=rep_title[:21]
github['Description']=rep_desc[:21]
github['Contributors count']=Count[:21]
github['Language used']=Lang
github

df

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

Q6.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [68]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-68-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [69]:
driver.get('https://www.billboard.com/')

In [70]:
#Creating empty lists for storing the scrapped data
Song=[]
Artist=[]
Lastweek=[]
Peak=[]
Weeks_on_board=[]

#Scrapping the data having the song name
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    Song.append(i.text)
    
#Scrapping the data having the artist name
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    Artist.append(i.text)
    
#Scrapping the data having the last week rank
last_week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_week:
    if i.text is None:
        Lastweek.append('-')
    else:
        Lastweek.append(i.text)
        
#Scrapping the data having the peak rank
peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:
    if i.text is None:
        Peak.append('-')
    else:
        Peak.append(i.text)
        
#Scrapping the data having weeks on board data
weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None:
         Weeks_on_board.append('-')
    else:
        Weeks_on_board.append(i.text)

<ipython-input-70-35e647e40e12>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
<ipython-input-70-35e647e40e12>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
<ipython-input-70-35e647e40e12>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  last_week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
<ipython-input-70-35e647e40e12>:27: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
<ipython-input-70-35e647e40e12>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weeks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")

In [71]:
#Creating a dataframe for the scrapped data
billboard=pd.DataFrame({'Song':Song,'Artist':Artist,'Last week Rank':Lastweek,'Peak Rank':Peak,'Weeks on board':Weeks_on_board})
billboard

df

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

Q7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [51]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-51-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [52]:
driver.get('https://www.naukri.com/')

Q8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [66]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-66-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [67]:
# Opening the theguardian.com
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [57]:
#scrapping book names
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    book_name.append('No details available')

#scrapping author names
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('No details available')


#scrapping Sale
Sale=[]
try:
    sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:#handling no such element exception
    Sale.append('No details available')    

#scrapping publisher
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    publisher.append('No details available')

#scrapping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')

#creating dataframe
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
df

<ipython-input-57-5761f591b187>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
<ipython-input-57-5761f591b187>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
<ipython-input-57-5761f591b187>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
<ipython-input-57-5761f591b187>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
<ipython-input-57-5761f591b187>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [58]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-58-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [59]:
# Opening the imdb.com
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)

In [60]:
# scraping name of webseries
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')


# scraping year of release
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')


# scraping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')


# scraping run_time
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:#handling no such element exception
    run_time.append('No details available')


# scraping rating
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:#handling no such element exception
    rating.append('No details available')

# scraping votes
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:#handling no such element exception
    votes.append('No details available')


#creating dataframe
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})
df

<ipython-input-60-64f8bc2f0ca7>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
<ipython-input-60-64f8bc2f0ca7>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
<ipython-input-60-64f8bc2f0ca7>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres=driver.find_elements_by_xpath("//span[@class='genre']")
<ipython-input-60-64f8bc2f0ca7>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//span[@class='runtime']")
<ipython-input-60-64f8bc2f0ca7>:44: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
<ipython-input-60-64f8bc2f0ca7>:53: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//span[@name='nv']")

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,930,901"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"951,671"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"922,287"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,348"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,594"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,189"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,981"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"183,063"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,343"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"218,058"

Q10.Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code.

In [62]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

<ipython-input-62-42b730a61afd>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:/Users/tribe/Downloads/chromedriver_win32/chromedriver.exe")

In [63]:
# Opening the imdb.com
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [65]:
#clicking show all datasets link
show=driver.find_element_by_xpath("//a[@href='datasets.php']")
show.click()


#scraping dataset names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')

#scraping data type
data_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("No information")


#scraping dataset names
default_task=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("No information")


#scraping dataset names
attr_type=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("No information")


#scraping dataset names
no_of_instances=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("No information")


#scraping dataset names
no_of_attributes=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("No information")


#scraping dataset names
year=[]
try:
    info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("No information")

#creating dataframe
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})
df

<ipython-input-65-df5420f50a39>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  show=driver.find_element_by_xpath("//a[@href='datasets.php']")
<ipython-input-65-df5420f50a39>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
<ipython-input-65-df5420f50a39>:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
<ipython-input-65-df5420f50a39>:28: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
<ipython-input-65-df5420f50a39>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
<ipython-input-65-df5420f50a39>:48: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
<ipython-input-65-df5420f50a39>:58: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
<ipython-input-65-df5420f50a39>:68: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021